/.idea
/infrastructure/dev/.terraform/providers/registry.terraform.io
/infrastructure/dev/.terraform
infrastructure/dev/.terraform.lock.hcl
infrastructure/dev/terraform.tfstate.backup
infrastructure/dev/terraform.tfstate
/src/api/.env
/src/__pycache__
/src/api/__pycache__
/src/api/dependencies/__pycache__
/src/api/endpoints/__pycache__
/src/api/dependencies/events/__pycache__
/src/api/models/__pycache__
/src/api/models/dto/v1/__pycache__
/src/api/models/internal/__pycache__
/src/api/services/__pycache__
/src/api/models/dto/__pycache__
/tests/__pycache__
/tests/it/__pycache__
/tests/it/endpoint/__pycache__
/tests/unit/service/__pycache__
/tests/unit/__pycache__

